<!DOCTYPE html>
<html>
<head>
    <title>Teacher Management</title>
</head>
<body>
    <div class="container">
        <h2>Teacher Management</h2>
        <hr />
        @RenderBody()
    </div>
</body>
</html>