
@{
    ViewBag.Title = "Dashboard";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f4f4f4;
    }
</style>

<h2>Login Successful</h2>

<a href="@Url.Action("Logout", "Login")">Logout</a>

@if (Session["UserRole"] != null)
{
    <p>User Role: @Session["UserRole"]</p>
}
else
{
    <p>Session is null</p>
}

