<table class="cell-border" id="myTable">
    <thead>
        <tr>
            <th id="col-name">Name</th>
            <th id="col-enroll">Enrollment Date</th>
            <th id="col-action">Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@*<script>
    $(document).ready(function () {
        $('#myTable').DataTable();

        $('#col-name').css('background-color', 'lightblue');
        $('#col-enroll').css('background-color', 'lightblue');
        $('#col-action').css('background-color', 'lightblue');

    });
</script>*@