@model Login.Student

@{
    Layout = null;
}

@using (Html.BeginForm("Update", "Student", FormMethod.Post, new { id = "studentForm" }))
{
    @Html.HiddenFor(m => m.roll_no)

    <label>Roll No:</label>
    <input type="text" value="@Model.roll_no" class="form-control" disabled />
    <br />
    <label>Name:</label>
    @Html.TextBoxFor(m => m.name, new { required = "required", @class = "form-control" })
    <br />
    <label>Enrollment Date</label>
    @Html.TextBoxFor(m => m.Enrollment_date, new { required = "required", @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
}
