<head>

    <script type="text/javascript" src="~/Scripts/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/font-awesome-6.7.2.all.min.js"></script>
    <link rel="stylesheet" href="~/Content/datatables.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome-6.7.2.all.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-icons.css" />

</head>

<table class="cell-border" id="myTable">
    <thead>
        <tr>
            <th id="col-name">Name</th>
            <th id="col-desig">Designation</th>
            <th id="col-sal">Salary</th>
            <th id="col-action">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>