@model Login.Staff

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "Staff", FormMethod.Post, new { id = "staffForm" }))
{
    <label>ID:</label>
    @Html.TextBoxFor(m => m.id, new { required = "required", @class = "form-control" })
    <br />
    <label>Name:</label>
    @Html.TextBoxFor(m => m.name, new { required = "required", @class = "form-control" })
    <br />
    <label>Designation:</label>
    @Html.TextBoxFor(m => m.designation, new { required = "required", @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
}
